.weather__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__input-block {
  position: relative;
}

.weather__input {
  position: relative;

  width: 300px;
  margin-bottom: 10px;
  padding: 10px;

  color: $primary-color;

  border: 1px solid $primary-color;
  outline: none;

  &::placeholder {
    color: $primary-color;

    opacity: 0.65;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 0 1px $primary-color;
  }

  &--error {
    border-color: $error-color;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 1px $error-color;
    }
  }
}

.weather__cities-list {
  @include reset-indents;
  position: absolute;
  top: 38px;
  z-index: 5;

  width: 100%;

  list-style: none;

  background-color: $cities-list-bg-color;
}

.weather__cities-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.weather__cities-name {
  @include reset-indents;
  margin-right: 10px;
}

.weather__error {
  @include reset-indents;
  margin-bottom: 5px;

  color: $error-color;
  font-weight: 700;
}
