.weather__card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 20px;

  font-family: $second-font;
  color: $text-main-color;

  background-image: radial-gradient(
      ellipse 202% 185% at bottom right,
      $bg-card-first-color 25%,
      $bg-card-second-color 50%,
      $bg-card-third-color 50%,
      $bg-card-third-color 100%
    ),
    linear-gradient(
      to top,
      $bg-main-gradient-second-color 0%,
      $bg-main-gradient-first-color 100%
    );
  background-position: top left;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.weather__city,
.weather__day,
.weather__full-date,
.weather__wind,
.weather__humidity,
.weather__temp,
.weather__description {
  @include reset-indents;
}

.weather__place {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.weather__city {
  font-size: 45px;
  line-height: 55px;
  text-align: left;
}

.weather__flag {
  margin-left: 10px;
}

.weather__info {
  margin-bottom: 20px;
}

.weather__day {
  font-size: 25px;
  line-height: 35px;
  text-transform: uppercase;
}

.weather__full-date {
  line-height: 24px;
}

.weather__wind {
  font-size: 12px;
  line-height: 16px;
}

.weather__humidity-block {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 5px;
}

.weather__humidity-icon {
  fill: $text-main-color;
}

.weather__humidity-simbol {
  font-size: 10px;
}

.weather__temp-block {
  position: absolute;
  top: 30%;
  right: 15px;

  display: flex;
  align-items: center;
}

.weather__temp {
  font-size: 90px;
  line-height: 90px;
  font-weight: 400;
}

.weather__icon {
  fill: rgb(255, 255, 255);
}

.weather__description {
  align-self: center;

  font-size: 25px;
  line-height: 35px;
  text-transform: uppercase;
}
