.weather__card {
  width: 500px;
  margin: 0 auto;
  padding: 10px 20px;

  font-family: $second-font;
  color: $text-secondary-color;

  background-image: radial-gradient(
      ellipse 202% 185% at bottom right,
      $bg-card-first-color 25%,
      $bg-card-second-color 50%,
      $bg-card-third-color 50%,
      $bg-card-third-color 100%
    ),
    linear-gradient(
      to top,
      $bg-main-gradient-second-color 0%,
      $bg-main-gradient-first-color 100%
    );
  background-position: top left;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.weather__city,
.weather__day,
.weather__full-date,
.weather__wind,
.weather__temp,
.weather__description {
  @include reset-indents;
}

.weather__place {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.weather__city {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  text-align: left;
}

.weather__flag {
  margin-left: 10px;
}

.weather__info {
  width: 200px;
}

.weather__day {
  text-transform: uppercase;
}

.weather__temp {
  margin-bottom: 5px;

  font-size: 35px;
  line-height: 35px;
  font-weight: 700;
}

.weather__icon {
  fill: rgb(255, 255, 255);
}

.weather__description {
  font-weight: 700;
}
