@import "./functions.scss";

$primary-color: rgb(0, 165, 184);
$translucent-primary-color: transparentize($primary-color, 0.5);

$text-main-color: rgb(255, 255, 255);

$error-color: rgb(211, 42, 42);

$link-main-color: $text-main-color;

$bg-main-gradient-first-color: shade-func($primary-color, 25%) 0%;
$bg-main-gradient-second-color:
  adjust-color(
  $primary-color,
  $green: 39,
  $blue: 20
);
$bg-forecast-card-hover-color: $translucent-primary-color;
$bg-title-color:
  adjust-color(
  $translucent-primary-color,
  $green: -50,
  $blue: -43
);

$overlay-main-color: transparentize($text-main-color, 0.3);

$button-main-bg-color: $primary-color;
$button-main-text-color: $text-main-color;
