$text-main-color: rgb(50, 50, 50);
$text-secondary-color: rgb(109, 109, 109);

$link-main-color: rgb(69, 1, 255);

$bg-white-color: rgb(255, 255, 255);
$bg-light-color: rgb(248, 248, 248);
$bg-dark-color: rgb(18, 16, 14);
$bg-main-gradient-first-color: rgb(0, 115, 141);
$bg-main-gradient-second-color: rgb(0, 202, 192);
$bg-card-first-color: rgba(0, 159, 170, 0.85);
$bg-card-second-color: rgba(0, 162, 180, 0.85);
$bg-card-third-color: rgba(6, 196, 209, 0.85);

$overlay-color: rgba(50, 50, 50, 0.3);

$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(2, 88, 154);

$button-main-bg-color: $primary-color;
$button-main-text-color: rgb(255, 255, 255);
$button-secondary-text-color: rgb(35, 36, 35);

$error-color: rgb(218, 0, 0);
