@mixin main-text {
  font-family: $main-font;
  color: $text-main-color;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: 400;
}

@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin reset-indents {
  margin: 0;
  padding: 0;
}
