$main-font: "Roboto", "Arial", serif;
$main-font-size: 14px;
$main-line-height: calc(#{$main-font-size} * 1.45);

$mobile-width: 420px;
$tablet-width: 700px;
$desktop-width: 960px;

$button-main-padding: 8px 16px;
$button-main-radius: 5px;

$forecast-card-indent: 8px;
