.main {
  background-image: linear-gradient(
    $bg-main-gradient-first-color 0%,
    $bg-main-gradient-second-color 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main__wrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 20px;

  text-align: center;
}

.main__title {
  @include reset-indents;
  font-size: 25px;
  line-height: 35px;
  font-weight: 700;
}

.router {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $small-wrapper;
  margin: 0 auto;
  padding-top: 20px;
}

.router__button {
  flex-grow: 1;
  margin-right: 20px;
  padding: $button-main-padding;

  color: $text-main-color;

  border: 2px solid $primary-color;
  border-radius: $button-main-radius;
  outline: none;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    background-color: $primary-color;
  }

  &:active {
    background-color: $primary-color;
  }

  &--active {
    background-color: $primary-color;
  }
}

.weather {
  padding-top: 20px;

  text-align: center;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
