.main {
  background-size: cover;
  background-attachment: fixed;

  &--clear {
    background-image: url("~$images/decoration/clear-sky@1x.jpg");

    animation: show 0.5s linear;
  }

  &--clouds {
    background-image: url("~$images/decoration/clouds@1x.jpg");

    animation: show 0.5s linear;
  }

  &--rain {
    background-image: url("~$images/decoration/rain@1x.jpg");

    animation: show 0.5s linear;
  }
}

.main__title {
  @include reset-indents;
  font-size: 25px;
  line-height: 35px;
  font-weight: 700;
}

.router {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.router__button {
  margin-right: 20px;
  padding: $button-main-padding;

  color: $text-main-color;

  border: 2px solid $primary-color;
  border-radius: $button-main-radius;
  outline: none;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    background-color: $primary-color;
  }

  &:active {
    background-color: $primary-color;
  }

  &--active {
    background-color: $primary-color;
  }
}

.weather {
  padding-top: 20px;

  text-align: center;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
