.weather__main-title {
  width: $small-wrapper;
  margin: 0 auto 20px;
  padding: 16px;

  font-size: 24px;
  line-height: 26px;
  font-weight: 400;

  background-color: $bg-forecast-card-color;
  border-radius: 10px;
}

.weather__container {
  width: 840px;
  margin: 0 auto;
}

.weather__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.weather__info {
  @include reset-indents;
  display: flex;
  align-items: center;
  padding: 16px;

  background-color: $bg-forecast-card-color;
  border-radius: 10px;

  &:first-child {
    border-bottom-left-radius: 0;
  }

  &:last-child {
    border-bottom-right-radius: 0;
  }
}

.weather__city {
  @include reset-indents;
  font-size: 20px;
  line-height: 22px;
}

.weather__flag {
  margin-left: 10px;
}

.weather__title {
  font-size: 24px;
  line-height: 26px;
}

.weather__forecast-info {
  @include reset-indents;
}

.weather__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.weather__card {
  position: relative;

  flex-grow: 1;
  flex-basis: 140px;
  margin-bottom: 20px;

  background-color: $bg-forecast-card-color;

  &:nth-child(6n) {
    border-right: none;
  }
}

.weather__card-header {
  padding-top: $forecast-card-indent;
  padding-bottom: $forecast-card-indent;

  background-color: $bg-forecast-card-header-color;
}

.weather__card-body {
  padding-top: $forecast-card-indent;
}

.weather__card-header,
.weather__card-body {
  .weather__card:hover & {
    background-color: $bg-forecast-card-hover-color;
  }
}

.weather__date,
.weather__day,
.weather__temp,
.weather__time,
.weather__description {
  @include reset-indents;
}

.weather__date {
  margin-bottom: $forecast-card-indent;

  font-weight: 700;
}

.weather__day {
  text-transform: uppercase;
}

.weather__time {
  margin-bottom: $forecast-card-indent;
}

.weather__temp {
  margin-bottom: $forecast-card-indent;

  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.weather__icon {
  margin-top: 4px;

  fill: $text-main-color;
}
