.levitation-animation {
  animation: levitation 2s linear infinite;
  animation-direction: alternate;
}

@keyframes levitation {
  100% {
    transform: translate(5px, -5px);
  }
}

.rotation-animation {
  animation: rotatation 1s linear infinite;
}

@keyframes rotatation {
  100% {
    transform: rotate(360deg);
  }
}
